/*
 * Styles for the "About" dialogue.
 *
 * Open Source Software published under the Apache Licence, Version 2.0.
 */

.about BorderPane {
    -fx-padding: 10 20 10 10;
    -fx-border-insets: 10 4 10 10;
    -fx-border-style: dashed;
}
.about Label, .about Hyperlink {
    -fx-font-size: 20;
    -fx-padding: 7 0 7 0;
}
.starIcon {
    -fx-font-size: 20;
}
.websiteIcon, .twitterIcon, .githubIcon {
    -fx-font-size: 30;
}
.about .boxAboutLabels {
    -fx-padding: 0 10 0 0;
}
