<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Open Source Software published under the Apache Licence, Version 2.0.
  -->

<configuration>

    <property name="log_path" value="${user.home}/.VocabHunter/logs"/>

    <if condition='property("os.name").contains("OS X")'>
        <then>
            <property name="log_path" value="${user.home}/Library/VocabHunter/logs"/>
        </then>
    </if>

    <if condition='property("os.name").contains("Windows")'>
        <then>
            <property name="log_path" value="${APPDATA}/VocabHunter/logs"/>
        </then>
    </if>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{3} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_path}/system.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${log_path}/system%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>512KB</maxFileSize>
        </triggeringPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{3} - %msg%n</pattern>
        </encoder>
    </appender>


    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
