* {
   -colour-unseen: #F5F9FF;
   -colour-known: #EBFFF0;
   -colour-known-end: #008000;
   -gradient-known: linear-gradient(from 0% 0% to 100% 200%, repeat, -colour-known 0%, -colour-known-end 90%);
   -colour-unknown: #FFF0ED;
   -colour-unknown-end: #a43030;
   -gradient-unknown: linear-gradient(from 0% 0% to 100% 200%, repeat, -colour-unknown 0%, -colour-unknown-end 90%);
   -colour-word-use: darkblue;
   -colour-filtered: lightgrey;
   -colour-done: royalblue;
   -colour-remaining: lightcoral;
   -colour-unseen-unfiltered: powderblue;
}

.mainWord {
    -fx-font-size: 40;
}
.mainWordPane { /* This corresponds to the pseudo-class "unseen" */
    -fx-background-color: -colour-unseen;
}
.mainWordPane:known {
    -fx-background-color: -colour-known;
}
.mainWordPane:unknown {
    -fx-background-color: -colour-unknown;
}
.wordList .list-cell:selected {
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-border-color: black;
}
.wordList .list-cell {
    -fx-border-color: white;
    -fx-border-width: 1 0 1 0;
}
.wordList .list-cell:unseen {
    -fx-background-color: -colour-unseen;
}
.wordList .list-cell:known {
    -fx-background-color: -gradient-known;
}
.wordList .list-cell:unknown {
    -fx-background-color: -gradient-unknown;
}
.buttonSave {
    -fx-graphic: url("images/buttonSave.png");
}
.buttonOpen {
    -fx-graphic: url("images/buttonOpen.png");
}
.buttonNew {
    -fx-graphic: url("images/buttonNew.png");
}
.buttonExport {
    -fx-graphic: url("images/buttonExport.png");
}
.buttonSetupFilters {
    -fx-graphic: url("images/buttonFilter.png");
}
.buttonKnown {
    -fx-graphic: url("images/known.png");
    -fx-base: -colour-known;
}
.buttonUnknown {
    -fx-graphic: url("images/unknown.png");
    -fx-base: -colour-unknown;
}
.buttonUnseen {
    -fx-graphic: url("images/unseen.png");
    -fx-background-color: transparent;
}
.noSession {
    -fx-font-size: 16;
}
.title {
    -fx-font-size: 90;
    -fx-font-family: sans-serif;
    -fx-font-style: italic;
    -fx-stroke: black;
    -fx-stroke-width: 1;
}
.title.left {
    -fx-fill: -gradient-known;
}
.title.right {
    -fx-fill: -gradient-unknown;
}
.settings {
    -fx-padding: 20 20 20 20;
}
.settings .description {
    -fx-font-size: 18;
    -fx-padding: 0 0 10 0;
}
.settings .fieldLabel {
    -fx-padding: 10 5 10 5;
}
.settings .buttonBar {
    -fx-padding: 20 0 0 0;
}
.settings .settingsGroup {
    -fx-border-color: lightgrey;
    -fx-border-width: 1;
    -fx-padding: 10 10 10 10;
    -fx-border-insets: 5 0 5 0;
}
.about BorderPane {
    -fx-padding: 10 20 10 10;
    -fx-border-insets: 10 10 10 10;
    -fx-border-color: lightgrey;
    -fx-border-style: dashed;
}
.about Label, .about Hyperlink {
    -fx-font-size: 20;
    -fx-padding: 7 0 7 0;
}
.about .website {
    -fx-graphic: url("images/home.png");
}
.about .twitter {
    -fx-graphic: url("images/twitter.png");
}
.noSession .new {
    -fx-graphic: url("images/buttonNew.png");
    -fx-padding: 10 0 10 5;
}
.noSession .open {
    -fx-graphic: url("images/buttonOpen.png");
    -fx-padding: 10 0 0 5;
}
.wordUse {
    -fx-font-weight: bold;
    -fx-fill: -colour-word-use;
}
/* Done */
.chartProgress .default-color0.chart-pie {
    -fx-pie-color: -colour-done;
}
/* Remaining */
.chartProgress .default-color1.chart-pie {
    -fx-pie-color: -colour-remaining;
}
/* Known */
.chartResults .default-color0.chart-pie {
    -fx-pie-color: -colour-known-end;
}
/* Unknown */
.chartResults .default-color1.chart-pie {
    -fx-pie-color: -colour-unknown-end;
}
/* Unseen & unfiltered */
.chartResults .default-color2.chart-pie {
    -fx-pie-color: -colour-unseen-unfiltered;
}
/* Unseen & filtered */
.chartResults .default-color3.chart-pie {
    -fx-pie-color: -colour-filtered;
}
