/*
 * Top-level style sheet for VocabHunter.
 *
 * Open Source Software published under the Apache Licence, Version 2.0.
 */

@import "about.css"
@import "colours.css"
@import "language.css"
@import "settings.css"
@import "session.css"

.fontAwesomeIcon * {
    -fx-font-family: "FontAwesome";
}
.buttonNew Glyph *, .buttonOpen Glyph *, .buttonSave Glyph *, .buttonExport Glyph *, .buttonSetupFilters Glyph *, .new Glyph *, .open Glyph * {
    -fx-font-size: 22;
}
.noSession {
    -fx-font-size: 16;
}
.title {
    -fx-font-size: 90;
    -fx-font-family: sans-serif;
    -fx-font-style: italic;
    -fx-stroke-width: 1;
}
.settings .description, .filter .description, .noteEditor .description {
    -fx-font-size: 18;
    -fx-padding: 0 0 10 0;
}
.settings .fieldLabel {
    -fx-padding: 10 5 10 5;
}
.settings .buttonBar, .filter .buttonBar, .noteEditor .buttonBar {
    -fx-padding: 20 0 0 0;
}
.iconBox {
    -fx-min-width: 60;
}
.noSession .new {
    -fx-padding: 10 0 10 5;
}
.noSession .open {
    -fx-padding: 10 0 0 5;
}
.chartLegend {
    -fx-padding: 10;
    -fx-border-width: 1;
    -fx-border-insets: 0 0 10 0;
}
.chartLegend Label {
    -fx-padding: 5 0 5 5;
}
.masker {
    -fx-opacity: 0.3;
}
.miniGraph .bar, .miniGraph .track {
    -fx-background-insets: 0;
}
