<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Open Source Software published under the Apache Licence, Version 2.0.
  -->

<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>